.env
.env.backup
.env.production
.git
.gitignore
.vscode
.idea
node_modules
vendor
storage/logs/*.log
storage/framework/views/*.php
storage/framework/cache/*
storage/framework/sessions/*
bootstrap/cache/*.php
*.md
.phpunit.cache
.phpunit.result.cache
database/database.sqlite
tests
docker-compose*.yml
Dockerfile
render.yaml
